
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('https://i.imgur.com/PU1ZO5s.jpg');
  height: 100%;
  margin-top: 18%;
  margin-bottom: 8%;
  margin-right: 8%;
  margin-left: 8%;
  color: white;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.675);
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  letter-spacing: 20px;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

ul {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  color: white;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
}

table td {
  font-size: 13px;
  padding: 2px 0;
}
